* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;

}

/* h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
    line-height: 0.8;
} */

ul,
li {
    list-style-type: none;
}

a,
a:hover {
    text-decoration: none;
}

body {
    background: #000;
    color: white;
}

.nav-link {
    color: #ddd;
    font-family: 'Oswald', sans-serif;


}

.nav-link:hover {
    display: none;

}

.socialPart a {
    margin: 0 10px;
    color: #ddd;
    font-family: 'Oswald';
    font-size: 16px;
}

/* Banner part start */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #121212;
    z-index: 100;

}

#bannerPart {
    background-image: url('../images/banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 340px;
    padding-bottom: 100px;
    font-family: "Oswald", sans-serif;




}

#bannerPart .text h5 {
    font-size: 27px;
    letter-spacing: 10%;
    font-weight: 400;


}

#bannerPart .text h1 {
    font-size: 60px;
    font-weight: 600;


}

#bannerPart .text p {
    font-size: 16px;
    padding-bottom: 48px;
    text-align: left;
    width: 30%;


}

.btn {
    padding: 10px 15px;
    background: white;
    text-align: center;
    transition: .3s all ease;

}


.btn img {

    padding-left: 2px;
    text-align: center;

}

.socialIcons {
    margin-top: 290px;
}

/* Banner part end */
/* community part start */
#communityPart {
    padding-top: 34px;
    padding-bottom: 80px;
    background: #121212;
    font-family: 'Oswald', sans-serif;
}

#communityPart h2 {
    width: 40%;
    font-size: 38px;
    font-weight: 400;
    letter-spacing: 7%;
    line-height: 150%;

}

.pcImage img {
    width: 100%;
}

.text1 {
    margin-left: 80px;



}

.text1 h6 {
    padding: 1px 0px;
    font-weight: 200;
    font-size: 18px;
    color: rgb(207, 203, 203);
    font-family: Arial, Helvetica, sans-serif;
}

.text1 p {
    padding-top: 10px;
    font-size: 18px;
    font-weight: 300;

}

.text1 h3 {
    padding-bottom: 10px;
}

.text1 h6 img {
    padding-right: 10px;
}

#btn1 {
    background: #212121;
    color: white;
    outline: none;
    border: none;
}


#row2 {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;



}

#row2 div {
    background: #212121;

    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;




}

#row2 h5 {
    display: flex;
    gap: 1px;
    font-size: 60px;
    align-items: center;
    padding-left: 75px;
    padding-right: 75px;


}

#row2 h5 img {
    margin-top: 53px;
    margin-left: 5px;


}

#row2 p {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 2px;
    text-align: center;

}

/* community part end */









/* Section-3 part start */
#section-3 {

    background: #191919;

}

.main {
    display: flex;
    padding-top: 115px;
    padding-bottom: 90px;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.redImg img,
.blackImg img {
    width: 100%;
    height: auto;
    display: block;
}

.blackImg h2 {
    font-size: 38px;
    font-weight: 500;
    font-family: 'Barlow Condensed';
    letter-spacing: 3px;
    padding-bottom: 80px;
    text-align: right;
    padding-left: 100px;


}

.sideIcon {
    position: absolute;
    bottom: 0;
    right: 0;


}

.redImg,
.blackImg {
    width: 50%;

}

.blackImg {
    position: relative;
}

.redImg {
    margin-top: 30px;
}




/* Section-3 part end */













/* community part start */
/* community part end */
/* community part start */
/* community part end */
/* community part start */
/* community part end */
/* community part start */
/* community part end */