.box{
    height: 300px;
    width: 300px;
    background: tomato;
    border-radius: 20px;
    text-align: center;
    margin-top: 30px;
 
    margin: 0 auto;
    margin-top: 50px;

}
.greenBox{
    height: 300px;
    width: 300px;
    background: green;
    border-radius: 20px;
    text-align: center;
    margin-top: 30px;
 
    margin: 0 auto;
    margin-top: 50px;

}
button{
    padding: 10px 30px;
    margin: 5px;
    border-radius: 10px;
    color: white;
    border:none;
    background: tomato;
font-size: 30px;
}
.parent{
    display: flex;
    gap: 30px;

    justify-content: center;
    align-items: center;
    margin: 100px auto;
}
.slideBox{
    width: 300px;
    background: rgb(207, 43, 207);
    padding: 150px 100px;
    margin: 0px 20px;


}
.back-to-top{
    position:fixed;
    font-size: 50px;
    color: red;
    right: 20px;
    bottom:20px
}
.aosBox{
    background: green;
    padding: 50px 50px;
    width: 300px;
    height: 399px;
    margin: 0 auto;

}
.content{
    background-color: yellow;
    padding: 30px 40px;
}